%section.deadlines
  .section--title
    %h2= t('sections.deadlines')
  .section--body
    .flex.flex-col.divide-y.divide-gray-700
      - WeekdayTemplate.ordered.each do |weekday_template|
        .flex.py-1.request-deadline-row{ class: weekday_template_classes(weekday_template) }
          .flex-grow
            = t('date.day_names').at(weekday_template.weekday)
          .flex-shrink-0
            - if weekday_template.active?
              = l(weekday_template.time, format: :day_time_only)
            - else
              = t('.not_available')
  .section--footer
    .text-center.mt-2.text-gray-500.text-xs
      = t('.service_may_not_be_available_during_holiday_periods')
