%header.mb-16.flex.items-center
  .grow.flex.items-center
    .inline.bg-gradient-to-br.from-sky-300.via-sky-200.to-sky-500.text-transparent.bg-clip-text.text-xl.tracking-tighter.font-bold
      SPOTLIGHT
  .shrink-0.flex.items-center
    - if signed_in?
      .user-menu.flex.items-center{ 'data-controller': 'helpers--dropdown' }
        .relative.inline-block.text-left
          %div
            %button#menu-button.text-gray-500.hover:text-sky-300.transition.rounded-full.flex.items-center.focus:outline-none.focus:ring-2.focus:ring-offset-2.focus:ring-offset-gray-900.focus:ring-sky-600{ 'aria-expanded': 'true', 'aria-haspopup': 'true', type: 'button', 'data-action': 'helpers--dropdown#toggle', 'data-helpers--dropdown-target': 'toggler' }
              %span.sr-only= t('shared.screen_readers.open_options')
              .h-5.w-5
                = render HeroiconComponent.new :menu

          %div{ class: 'origin-top-right absolute right-0 mt-2 rounded bg-gray-700 ring-2 ring-gray-600 focus:outline-none overflow-hidden divide-y divide-gray-600', 'aria-labelledby': 'menu-button', 'aria-orientation': 'vertical',  role: 'menu', tabindex: '-1', 'data-helpers--dropdown-target': 'menu' }
            .py-1{ role: 'none' }
              = link_to root_path, class: 'flex items-center gap-x-2 text-gray-400 text-xs hover:text-sky-300 transition py-2 pl-4 pr-16 whitespace-nowrap' do
                .h-5.w-5
                  = render HeroiconComponent.new :home
                = t('shared.home')

            .py-1{ role: 'none' }
              = link_to profile_path, class: 'flex items-center gap-x-2 text-gray-400 text-xs hover:text-sky-300 transition py-2 pl-4 pr-16 whitespace-nowrap' do
                .h-5.w-5
                  = render HeroiconComponent.new :'user-circle'
                = t('shared.profile')

              - if admin?
                = link_to admin_configuration_path, class: 'flex items-center gap-x-2 text-gray-400 text-xs hover:text-sky-300 transition py-2 pl-4 pr-16 whitespace-nowrap' do
                  .h-5.w-5
                    = render HeroiconComponent.new :adjustments
                  = t('shared.admin')

            .py-1{ role: 'none' }
              = button_to destroy_user_session_path, method: :delete, class: 'flex items-center gap-x-2 text-gray-400 text-xs hover:text-sky-300 transition py-2 pl-4 pr-16 whitespace-nowrap' do
                .h-5.w-5
                  = render HeroiconComponent.new :'logout'
                = t('shared.actions.sign_out')

    - else
      = link_to new_user_session_path, class: 'flex items-center gap-x-1 text-gray-600 text-xs hover:text-sky-300 transition' do
        .h-5.w-5
          = render HeroiconComponent.new :login
        = t('shared.actions.sign_in')
