%section.status
  .section--title
    %h2= t('sections.status')
  .section--body
    .flex.flex-col.items-center.gap-y-4
      = render CalendarDate::StatusBadgeComponent.new(status: calendar_date.status)

      - if calendar_date.no_light_confirmed?
        .text-gray-100.text-xl
          = t('.no_light_today')

      - if calendar_date.light_confirmed?
        .text-gray-100.text-xl
          = t('.light_confirmed')

      .text-gray-500.text-sm
        = calendar_date.display_status
