.flex.flex-col.gap-y-20
  = render DateSectionComponent.new(calendar_date: calendar_date)

  = render StatusSectionComponent.new(calendar_date: calendar_date)

  = render RequestsSectionComponent.new(calendar_date: calendar_date, user_light_request: user_light_request)

  = render RequestFlowSectionComponent.new(calendar_date: calendar_date)

  = render DeadlinesSectionComponent.new
