%h1.mb-8.text-center.text-gray-300= t('.admin_area')

.flex.flex-col.gap-y-10
  = link_to admin_calendar_dates_path do
    .flex.items-center.bg-gray-800.p-8.rounded-lg.gap-x-8.text-gray-400.hover:bg-gray-700.hover:text-sky-300.transition
      .h-16.w-16
        = render HeroiconComponent.new(:'calendar')
      .text-xl.tracking-wide
        = LightRequest.model_name.human(count: 2)

  = link_to admin_users_path do
    .flex.items-center.bg-gray-800.p-8.rounded-lg.gap-x-8.text-gray-400.hover:bg-gray-700.hover:text-sky-300.transition
      .h-16.w-16
        = render HeroiconComponent.new(:'user-group')
      .text-xl.tracking-wide
        = User.model_name.human(count: 2)

  = link_to admin_request_deadlines_path do
    .flex.items-center.bg-gray-800.p-8.rounded-lg.gap-x-8.text-gray-400.hover:bg-gray-700.hover:text-sky-300.transition
      .h-16.w-16
        = render HeroiconComponent.new(:clock)
      .text-xl.tracking-wide
        = RequestDeadline.model_name.human(count: 2)
