%ul.spotlight--ul
  - calendar_dates.each do |cd|
    - calendar_date = cd.decorate
    %li.px-4.py-8.flex.flex-col.gap-y-8
      .flex.gap-x-4.items-center
        .shrink-0
          .flex.flex-col.overflow-hidden.rounded
            .bg-sky-500.text-center.py-1.px-4.text-sm.text-gray-900
              = calendar_date.date.strftime('%b')
            .bg-gray-700.py-1.flex.justify-center.font-mono.text-lg
              = calendar_date.date.strftime('%d')
        .grow.flex.flex-col.gap-y-2
          .text-xl.text-gray-400.tracking-wide
            = calendar_date.display_light_requests_with_count
        .shrink-0
          = render CalendarDate::StatusBadgeComponent.new(status: calendar_date.status, additional_classes: 'w-10 h-10 p-2')
        .shrink-0.flex.items-center
          = button_tag 'data-action': 'admin--request-deadline-list-item#toggleRequestDeadlineForm', role: :button do
            .h-5.w-5.text-gray-500{ 'data-admin--request-deadline-list-item-target': 'openFormIcon' }
              = render HeroiconComponent.new(:'chevron-down')
            .h-5.w-5.text-gray-500.hidden{ 'data-admin--request-deadline-list-item-target': 'closeFormIcon' }
              = render HeroiconComponent.new(:'chevron-up')
      .flex.gap-x-4
        - if !calendar_date.light_confirmed?
          = link_to '#', class: 'w-full py-2 px-3 text-green-200 bg-green-700 hover:bg-green-600 transition rounded w-full flex justify-center' do
            = t('.confirm')
        - if !calendar_date.no_light_confirmed?
          = link_to '#', class: 'w-full py-2 px-3 text-gray-300 bg-gray-900 hover:bg-purple-800 transition rounded w-full flex justify-center' do
            = t('.dismiss')
