.calendar-date--today.flex.flex-col.gap-y-12.bg-gray-800.px-4.py-8.rounded
  .flex.flex-col.gap-4.items-center
    %div{ class: 'w-1/3' }
      = render CalendarDateSheetComponent.new(date: calendar_date.date)
  .flex.flex-col.gap-y-2
    .text-gray-300.text-xl.text-center
      = calendar_date.decorate.display_light_requests_with_count
  .flex.items-center.divide-x.divide-gray-600.text-xs
    .flex-1.px-2.text-right.uppercase{ class: calendar_date.decorate.statuses_settings.dig(calendar_date.status, :css, :'text-primary') }
      = calendar_date.decorate.display_status
    .flex-1.px-2.text-xs.text-gray-400
      = t('.deadline_at', deadline_at: calendar_date.decorate.display_deadline_at)
  = render Admin::CalendarDateDecisionFormComponent.new(current_user: current_user, calendar_date: calendar_date)
