.flex.pt-4.gap-x-4
  - if user.blocked?
    = link_to '#', class: 'py-1 px-3 text-gray-300 bg-gray-700 hover:bg-gray-600 transition rounded w-full flex justify-center' do
      .flex.items-center.gap-x-2
        .h-4.w-4
          = render HeroiconComponent.new(:ban)
        = t('shared.actions.unverify')

  - elsif !user.admin?
    = link_to '#', class: 'py-1 px-3 text-gray-300 bg-gray-900 hover:bg-rose-900 transition rounded w-full flex justify-center' do
      .flex.items-center.gap-x-2
        .h-4.w-4
          = render HeroiconComponent.new(:ban)
        = t('shared.actions.block')

  - if !user.verified? && !user.admin?
    = link_to '#', class: 'py-1 px-3 text-gray-300 bg-green-900 hover:bg-green-800 transition rounded w-full flex justify-center' do
      .flex.items-center.gap-x-2
        .h-4.w-4
          = render HeroiconComponent.new(:'badge-check')
        = t('shared.actions.verify')

- if user.verified? && !user.role_superadmin?
  .flex
    = form_with(model: [:admin, user], html: { class: 'w-full' }) do |f|
      = f.select :role, role_selection, {}, { class: 'bg-gray-700 border-gray-600 rounded w-full' }
      = f.submit
