= turbo_frame_tag to_dom_id do
  .pt-4.flex.flex-col.gap-y-4
    .flex.gap-x-4
      - if user.role_user?
        - if !user.blocked?
          = form_with(model: [:admin, user], class: 'w-full') do |f|
            = f.hidden_field :status, value: 'blocked'
            = f.button type: :submit, class: 'py-2 px-3 text-gray-300 bg-gray-900 hover:bg-rose-900 transition rounded w-full flex justify-center' do
              .flex.items-center.gap-x-2
                .h-4.w-4
                  = render HeroiconComponent.new(:ban)
                = t('shared.actions.block')

        - if !user.unverified?
          = form_with(model: [:admin, user], class: 'w-full') do |f|
            = f.hidden_field :status, value: 'unverified'
            = f.button type: :submit, class: 'py-2 px-3 text-gray-300 bg-gray-700 hover:bg-gray-600 transition rounded w-full flex justify-center' do
              .flex.items-center.gap-x-2
                .h-4.w-4
                  = render HeroiconComponent.new(:ban)
                = t('shared.actions.unverify')

        - if !user.verified?
          = form_with(model: [:admin, user], class: 'w-full') do |f|
            = f.hidden_field :status, value: 'verified'
            = f.button type: :submit, class: 'py-2 px-3 text-gray-300 bg-green-900 hover:bg-green-800 transition rounded w-full flex justify-center' do
              .flex.items-center.gap-x-2
                .h-4.w-4
                  = render HeroiconComponent.new(:'badge-check')
                = t('shared.actions.verify')

    - if render_form?
      .flex.w-full
        = form_with(model: [:admin, user], html: { class: 'w-full grid grid-cols-1 sm:grid-cols-4 gap-x-2 gap-y-2' }) do |f|
          = f.select :role, role_selection, {}, { class: 'spotlight-form--select w-full sm:col-span-3' }
          = f.submit t('.actions.update_role'), class: 'spotlight-form--submit py-2 w-full'
