.flex.flex-col{ id: dom_id, 'data-controller': 'user-info', 'data-user-info-user-id-value': user.id }
  .flex.grow.items-baseline
    .grow.text-2xl.flex.items-baseline.gap-x-2
      %div= nickname
      %div= render User::StatusBadgeComponent.new(status: user.status)
      .div= role_badge
    .shrink-0.hidden{ 'data-user-info-target': 'jsOnly' }
      - unless user.role_superadmin?
        = button_tag class: 'p-2', 'data-action': 'user-info#toggleUserForm', role: :button do
          .h-5.w-5.text-gray-500{ 'data-user-info-target': 'openFormIcon' }
            = render HeroiconComponent.new(:'chevron-down')
          .h-5.w-5.text-gray-500.hidden{ 'data-user-info-target': 'closeFormIcon' }
            = render HeroiconComponent.new(:'chevron-up')

  .flex.text-gray-500.text-sm
    = t('shared.models.light_request.with_count', count: user.light_requests.size)
