!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %title Spotlight
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    .max-w-prose.mx-auto.z-10
      %header
        = render TitleComponent.new
      .flashes
        .flex.flex-col.gap-y-4.text-center.text-sm
          - if notice.present?
            .flash-notice.bg-gray-600.py-2.px-4.rounded.text-gray-300.mb-10= notice
          - if alert.present?
            .flash-alert.bg-gray-600.py-2.px-4.rounded.text-amber-100.mb-10= alert
      %main.mx-4.md:mx-0
        = yield
      %footer.flex.justify-center.mt-32.mb-16
        - if user_signed_in?
          = button_to destroy_user_session_path, class: 'shy flex items-center', method: :delete do
            .h-5.w-5.mr-2
              = render HeroiconComponent.new(:logout)
            = t('shared.actions.sign_out')
        - else
          = link_to new_user_session_path, class: 'shy flex items-center' do
            .h-5.w-5.mr-2
              = render HeroiconComponent.new(:logout)
            = t('shared.actions.sign_in')
