!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %title Spotlight
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    .max-w-prose.mx-auto.z-10
      = render HeaderComponent.new(current_user: current_user)
      .flashes
        .flex.flex-col.gap-y-4.text-center.text-sm
          - if notice.present?
            .flash-notice.bg-gray-600.py-2.px-4.rounded.text-gray-300.mb-10= notice
          - if alert.present?
            .flash-alert.bg-gray-600.py-2.px-4.rounded.text-amber-100.mb-10= alert
      %main.md:mx-0
        = yield
      %footer.flex.justify-center.mt-32.mb-16
