!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %title Lights, Camera, Action!
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    .max-w-prose.mx-auto
      .flashes
        .flash-notice= notice
        .flash-alert= alert
      %main.mx-4.md:mx-0
        = yield
      %footer.flex.justify-center.mt-32.mb-16
        - if user_signed_in?
          = button_to "Sign out", destroy_user_session_path, class: 'shy', method: :delete
